.nav {
  position: absolute;
  display: flex;
  width: 100%;
  z-index: 1;
  height: 110px;
  background-color: black;
  bottom: 0;
  color: white;
  align-items: center;
}

.nav h2 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 20px;
}

.about {
  display: flex;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 2px solid #484848;
}

.about img {
  width: 25px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}


.projects {
  display: flex;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 2px solid #484848;
}

.projects img {
  width: 25px;
  border-radius: 20px;
  background-color: white;
  padding: 5px;
  margin-bottom: 10px;
}

.resume-bottom {
  display: flex;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 2px solid #484848;
}

.resume-bottom img {
  width: 30px;
  background-color: white;
  border-radius: 30px;
  padding: 4px;
  margin-bottom: 10px;
}

.contact-bottom {
  display: flex;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-bottom img{
  width: 30px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.about:hover, .projects:hover, .resume-bottom:hover, .contact-bottom:hover {
  background-color: #36B2EC;
}

.title {
  position: relative;
  width: 100%;
  margin-top: 200px;
  z-index: 1;
  display: block;
  text-align: center;
}

.title h1 {
  color: white;
  font-size: 100px;
  font-family: 'Gloria Hallelujah', cursive;
}

.title h2 {
  color: white;
  font-size: 40px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 20px;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  filter: brightness(0.7);
}

.button {
  position: relative;
  display: flex;
  z-index: 1;
  font-size: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 200px;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}

.resume {
  display: flex;
  height: 40px;
  width: 45%;
  align-items: center;
  justify-content: center;
  font-family: 'Gloria Hallelujah', cursive;
  border: 2px solid #36B2EC;
  border-radius: 10px;
}

.contact {
  display: flex;
  width: 45%;
  height: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Gloria Hallelujah', cursive;
  border: 2px solid #F4A460;
  border-radius: 10px;
}

.contact:hover {
  background-color: #F4A460;
}

.resume:hover {
  background-color: #36B2EC;
}
